<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Mangement System</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Employee Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}">Employee Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{https://www.linkedin.com/in/soheib-benchabana-1601801a7/}">Developed by soheib benchabana</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>

<div class="container">
    <div class="row">
    <h1>List Employees</h1>
    </div>
    <div class="row ">
        <div class="col-lg-3">
            <a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3 ">Add Employee </a>
        </div>
    </div>
    <table  class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Matricule</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Systéme</th>
            <th>Debut_CA/CR</th>
            <th>Nombre_Jours</th>
            <th>Date_Fin_CA_CR</th>
            <th>Date_Revise</th>
            <th>Date_Previse</th>
            <th>Fin_Previse</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.getMatricule()}"></td>
            <td th:text="${employee.getNom()}"></td>
            <td th:text="${employee.getPrenom()}"></td>
            <td th:text="${employee.getType()}"></td>
            <td th:text="${employee.getDebut_ca_cr()}"></td>
            <td th:text="${employee.getNomb_j()}"></td>
            <td th:text="${employee.getFin_ca_cr()}"></td>
            <td th:text="${employee.getDate_rev()}"></td>
            <td th:text="${employee.getDate_prev()}"></td>
            <td th:text="${employee.getFin_prev()}"></td>
            <td>
                <a th:href="@{/employees/edit/{id}(id=${employee.Matricule})}" class="btn btn-primary">Update</a>
                <br>
                <br>
                <a th:href="@{/employees/delete/{id}(id=${employee.Matricule})}" class="btn btn-danger">Delete</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
